
.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.portfolio-text {
    color: white;
    font-size: 3rem;
    text-align: center;
}